<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcig.app.dao.sample.DeleteMapper">
    <resultMap id="BaseResultMap" type="com.wcig.app.model.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, phone, password, create_time
    </sql>

    <delete id="deleteByPk" parameterType="java.lang.Long">
        DELETE FROM user WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByMap">
        DELETE FROM user WHERE
        <choose>
            <when test="map != null and map.size() > 0">
                <if test="map.name != null">
                    name = #{map.name,jdbcType=VARCHAR}
                </if>
                <if test="map.phone != null">
                    AND phone = #{map.phone,jdbcType=VARCHAR}
                </if>
                <if test="map.password != null">
                    AND password = #{map.password,jdbcType=VARCHAR}
                </if>
            </when>
            <otherwise>
                1 = 0
            </otherwise>
        </choose>
    </delete>

    <delete id="batchDeleteByPk" parameterType="java.util.List">
        DELETE FROM user WHERE
        <choose>
            <when test="list != null and list.size() > 0">
                id IN
                <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                    #{id,jdbcType=BIGINT}
                </foreach>
            </when>
            <otherwise>
                1 = 0
            </otherwise>
        </choose>
    </delete>
</mapper>