<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcig.app.dao.NewEnumTypeTestMapper">
  <resultMap id="BaseResultMap" type="com.wcig.app.model.NewEnumTypeTest">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enum_t" jdbcType="CHAR" property="enumT" javaType="com.wcig.app.model.SexEnum" typeHandler="com.wcig.app.handler.SexEnumTypeHandler" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from enum_type_test
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wcig.app.model.NewEnumTypeTest" useGeneratedKeys="true">
    insert into enum_type_test (id, enum_t)
    values (#{id,jdbcType=INTEGER}, #{enumT,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wcig.app.model.NewEnumTypeTest">
    update enum_type_test
    set enum_t = #{enumT,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, enum_t
    from enum_type_test
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, enum_t
    from enum_type_test
  </select>
</mapper>