<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcig.app.dao.StudentCardMapper">
    <resultMap id="StudentMap" type="com.wcig.app.model.Student">
        <id column="student_id" jdbcType="INTEGER" property="studentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="card_id" jdbcType="INTEGER" property="cardId" />
        <result column="grade_id" jdbcType="INTEGER" property="gradeId" />
    </resultMap>

    <resultMap id="CardMap" type="com.wcig.app.model.Card">
        <id column="card_id" jdbcType="INTEGER" property="cardId" />
        <result column="num" jdbcType="VARCHAR" property="num" />
    </resultMap>

    <resultMap id="StudentCardMap" type="com.wcig.app.model.StudentCard">
        <id column="student_id" jdbcType="INTEGER" property="studentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <association property="card" javaType="com.wcig.app.model.Card" resultMap="CardMap"/>
    </resultMap>

    <select id="selectStudentByPk" parameterType="integer" resultMap="StudentMap">
        select student_id, name, card_id
        from student
        where student_id = #{studentId,jdbcType=INTEGER}
    </select>

    <select id="selectCardByPk" parameterType="integer" resultMap="CardMap">
        select card_id, num
        from card
        where card_id = #{cardId,jdbcType=INTEGER}
    </select>

    <select id="selectStudentCardByPk" parameterType="integer" resultMap="StudentCardMap">
        select s.*, c.*
        from student s inner join card c
        on s.card_id = c.card_id
        where student_id = #{studentId,jdbcType=INTEGER}
    </select>
</mapper>