<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcig.app.dao.TimeTypeTestMapper">
  <resultMap id="BaseResultMap" type="com.wcig.app.model.TimeTypeTest">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="year_t" jdbcType="DATE" property="yearT" />
    <result column="date_t" jdbcType="DATE" property="dateT" />
    <result column="time_t" jdbcType="TIME" property="timeT" />
    <result column="datetime_t" jdbcType="TIMESTAMP" property="datetimeT" />
    <result column="timestamp_t" jdbcType="TIMESTAMP" property="timestampT" />
    <result column="bigint_t" jdbcType="BIGINT" property="bigintT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from time_type_test
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wcig.app.model.TimeTypeTest" useGeneratedKeys="true">
    insert into time_type_test (id, year_t, date_t, time_t, 
      datetime_t, timestamp_t, bigint_t
      )
    values (#{id,jdbcType=INTEGER}, #{yearT,jdbcType=DATE}, #{dateT,jdbcType=DATE}, #{timeT,jdbcType=TIME}, 
      #{datetimeT,jdbcType=TIMESTAMP}, #{timestampT,jdbcType=TIMESTAMP}, #{bigintT,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wcig.app.model.TimeTypeTest">
    update time_type_test
    set year_t = #{yearT,jdbcType=DATE},
      date_t = #{dateT,jdbcType=DATE},
      time_t = #{timeT,jdbcType=TIME},
      datetime_t = #{datetimeT,jdbcType=TIMESTAMP},
      timestamp_t = #{timestampT,jdbcType=TIMESTAMP},
      bigint_t = #{bigintT,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, year_t, date_t, time_t, datetime_t, timestamp_t, bigint_t
    from time_type_test
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, year_t, date_t, time_t, datetime_t, timestamp_t, bigint_t
    from time_type_test
  </select>
</mapper>